<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mate Finder</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Mate Finder</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html">Home</a>
                    </li>
                    <li class="dropdown-content active">
                        <a class="page-scroll" href="Findfriend.html">Find Friend</a>
                    </li>
                    <li class="dropdown-content">
                        <a class="page-scroll" href="Findroom.html">Find Room</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="request.html">Request</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="profile.html">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->

  <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Find your roommmate.</h2>
                    <h3 class="section-subheading text-muted">Entry data for searching</h3>
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <form>
                            <div  class="col-lg-offset-2 col-lg-8">
                            <div class="panel panel-default">

                            <br><br>
                                <div class="form-group">  
                                    <div class="row">
                                        <div  class="col-lg-6 text-left " style="padding-left: 0.5cm; padding-right: 0.5cm; padding-top: 1.0cm">
                                            <div  class="col-lg-12">
                                             District
                                            </div>
                                            <div  class="col-lg-12">
                                                <select class="form-control">
                                                   <option value="dist0">Not specified</option> 
                                                   <option value="dist1">Phra Nakhon District</option> 
                                                   <option value="dist2">Bang Bon District</option>
                                                   <option value="dist3">Bang Kapi District</option>
                                                   <option value="dist4">Bang Khae District</option>
                                                   <option value="dist5">Bang Khen District</option> 
                                                   <option value="dist6">Bang Kho Laem District</option>
                                                   <option value="dist7">Bang Khun Thian District</option>
                                                   <option value="dist8">Bang Na District</option>
                                                   <option value="dist9">Bang Phlat District</option> 
                                                   <option value="dist10">Bang Rak District</option>
                                                   <option value="dist11">Bang Sue District</option>
                                                   <option value="dist12">Bangkok Noi District</option>
                                                   <option value="dist13">Bangkok Yai District</option> 
                                                   <option value="dist14">Bueng Kum District</option>
                                                   <option value="dist15">Chatuchak District</option>
                                                   <option value="dist16">Chom Thong District</option>
                                                   <option value="dist17">Din Daeng District</option> 
                                                   <option value="dist18">Don Mueang District</option>
                                                   <option value="dist19">Dusit District</option>
                                                   <option value="dist20">Huai Khwang District</option>
                                                   <option value="dist21">Khan Na Yao District</option> 
                                                   <option value="dist22">Khlong Sam Wa District</option>
                                                   <option value="dist23">Khlong San District</option>
                                                   <option value="dist24">Khlong Toei District</option>
                                                   <option value="dist25">Lak Si District</option> 
                                                   <option value="dist26">Lat Krabang District</option>
                                                   <option value="dist27">Lat Phrao District</option>
                                                   <option value="dist28">Min Buri District</option>
                                                   <option value="dist29">Nong Chok District</option> 
                                                   <option value="dist30">Nong Khaem District</option>
                                                   <option value="dist31">Pathum Wan District</option>
                                                   <option value="dist32">Phasi Charoen District</option>
                                                   <option value="dist33">Phaya Thai District</option> 
                                                   <option value="dist34">Phra Khanong District</option>
                                                   <option value="dist35">Pom Prap Sattru Phai District</option>
                                                   <option value="dist36">Prawet District</option>
                                                   <option value="dist37">Rat Burana District</option> 
                                                   <option value="dist38">Ratchathewi District</option>
                                                   <option value="dist39">Sai Mai District</option>
                                                   <option value="dist40">Samphanthawong District</option>
                                                   <option value="dist41">Saphan Sung District</option> 
                                                   <option value="dist42">Sathon District</option>
                                                   <option value="dist43">Suan Luang District</option>
                                                   <option value="dist44">Taling Chan District</option>
                                                   <option value="dist45">Thawi Watthana District</option> 
                                                   <option value="dist46">Thon Buri District</option>
                                                   <option value="dist47">Thung Khru District</option>
                                                   <option value="dist48">Wang Thonglang District</option>
                                                   <option value="dist48">Vadhana District</option>
                                                   <option value="dist48">Yan Nawa District</option>
                                               </select>
                                            </div>
                                             <div  class="col-lg-12">
                                                Date Moving 
                                            </div>
                                            <div  class="col-lg-12">
                                                <input type="date" id="datemoving" class="form-control">
                                           </div>
                                       </div>
                                          


                                       <div  class="col-lg-6 text-left" style="padding-left: 0.5cm; padding-right: 0.5cm; padding-top: 1.0cm">
                                        <div  class="col-lg-12">
                                         Sub-District
                                         </div>
                                         <div  class="col-lg-12">
                                            <select class="form-control">
                                              <option value="subdist0">Not specified</option>
                                              <option value="subdist1">Phra Borom Maha Ratchawang</option> 
                                              <option value="subdist2">Wang Burapha Phirom</option>
                                              <option value="subdist3">Wat Ratchabophit</option>
                                              <option value="subdist4">Samran Rat</option>
                                              <option value="subdist5">San Chao Pho Suea</option> 
                                              <option value="subdist6">Sao Chingcha</option>
                                              <option value="subdist7">Bowon Niwet</option>
                                              <option value="subdist8">Talat Yot</option>
                                              <option value="subdist9">Chana Songkhram</option> 
                                              <option value="subdist10">Ban Phan Thom</option>
                                              <option value="subdist11">Bang Khun Phrom</option>
                                              <option value="subdist12">Wat Sam Phraya</option>
                                          </select>
                                          </div>
  
                                        <div  class="col-lg-12">
                                            Rent Period (Month)
                                        </div>
                                        <div  class="col-lg-12">
                                             <select class="form-control">
                                              <option value="subdist0">Not specified</option>
                                              <option value="subdist1">1</option> 
                                              <option value="subdist2">2</option>
                                              <option value="subdist3">3</option>
                                              <option value="subdist4">4</option>
                                              <option value="subdist1">5</option> 
                                              <option value="subdist2">6</option>
                                              <option value="subdist3">7</option>
                                              <option value="subdist4">8</option>
                                              <option value="subdist1">9</option> 
                                              <option value="subdist2">10</option>
                                              <option value="subdist3">11</option>
                                              <option value="subdist4">12</option>
                                              <option value="subdist4">More than 12</option>
                                            </select>
                                          </div>
                                         
                                    </div>

                                </div>

                            </div>

                                <div class="form-group">  
                                    <div class="row">
                                    <div  class="col-lg-12">
                                            Who have room 
                                        </div>
                                         <div  class="col-lg-12" > 
                                            <div  class="col-lg-offset-4 col-lg-2"> <input type="radio" name="gotroom" value="Have" >Have </div>
                                            <div  class="col-lg-3"> <input type="radio" name="gotroom" value="Do not have"> Do not have </div>
                                        </div>
                                        <div  class="col-lg-12 text-right ">
                                             <p align="center"> Limitation (Choose if you agree)
                                                <input type="checkbox" name="limitation" value="Smoke"> Smoke
                                                <input type="checkbox" name="limitation" value="Pet"> Pet
                                                <input type="checkbox" name="limitation" value="Chrilden"> Chrilden
                                                <input type="checkbox" name="limitation" value="Snoring"> Snoring
                                           </p>
                                           <p align="center"> <input type="submit" name="search" value="Search"  class="btn btn-info">
                                           <p>
                                        </div> 
                                    </div>
                                </div>


                           
                            </div>
                       
                            
                           

                        </div>
                        </form> 
                    </div>
                </div>
            <div class="row" style="padding-left: 0.5cm; padding-right: 0.5cm; padding-top: 1.0cm">
                <div class="col-sm-4">
                    <div class="team-member">
                        <div>
                            
                        </div>
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 0.5cm; padding-right: 0.5cm; padding-top: 1.0cm">
                <div class="col-sm-4">
                    <div class="team-member">
                        <div>
                            
                        </div>
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Mate-Finder.com</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
